<h1><%= @cocktail.name %></h1>
 <%= cl_image_tag @cocktail.photo, height: 300, width: 400, crop: :fill %>

<div class="container">
    <ul>
      <% @cocktail.doses.each do |dose| %>
        <li>
          <div>

            <%=dose.description %>
            <%= dose.ingredient.name %>
            <%= link_to "Remove dose", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
          </div>
        </li>
      <% end %>
    </ul>
</div>


      <h1>Add a picture to your cocktail</h1>
      <%= simple_form_for @cocktail do |f| %>
         <%= f.input :photo %>
         <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

<%= link_to "Back to cocktails", cocktails_path, class: 'btn btn-primary' %>
<%= link_to "Add a dose", new_cocktail_dose_path(@cocktail), class: 'btn btn-secondary' %>









